* {
    box-sizing: border-box;
}   

.BodyBack {
    background-color: #353d39;
}

.BodyBack::-webkit-scrollbar {
    width: 20px;
    background-color: #3F4649;
}

.BodyBack::-webkit-scrollbar-thumb {
    background-color: #353738;
}

.BodyBack::-webkit-scrollbar-thumb:hover {
    background-color: #2c2d2e;
}

.MainOuterBloсk {
    margin: 20px;

    display: flex;
    flex-direction: column;
}

.MainInnerBlock {
    margin: 5px;

    min-width: 90%;
    max-width: 100%;

    display: flex;
    flex-direction: row;

    height: 50em;
}

.LeftListBlock {
    margin: 5px;

    width: 20%;

    display: flex;
    flex-direction: column;
}

.LeftListBlock_OuterElement {
    margin: 2px;
}

.RightInfoBlock {
    margin: 5px;

    background-color: #2D5440;

    width: 80%;

    display: flex;
    flex-direction: row;
}

.RightInfoBlock_MainInfo {
    margin-right: 2px;

    width: 65%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.RightInfoBlock_MainInfo_Cell {
    border-radius: 0.6vw;

    min-width: 95%;
    max-width: 100%;

    margin-left: 4px;
    margin-right: 4px;

    margin-bottom: 2px;
    margin-top: 2px;

    background-color: #353d39;
}

.RightInfoBlock_MainInfo_Input {
    background-color: #353d39; 
    border: none; 

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-size: 16px;
    padding: 4px;
}

.RightInfoBlock_MainInfo_Btns {
    border-radius: 0.6vw;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 90%;
    max-height: 100%;

    color: #023c1f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: #47BE82;
}

.RightInfoBlock_MainInfo_Btns:hover {
    cursor: pointer;
}

.RightInfoBlock_Photo {
    margin-left: 2px;

    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.RightInfoBlock_Photo_Text {
    margin: 4px;

    min-width: 95%;
    max-width: 100%;
    height: 10%;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.RightInfoBlock_Photo_Photo {
    border-radius: 0.6vw;
    background-color: #353d39;
    margin: 4px;

    min-width: 95%;
    max-width: 100%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.RightInfoBlock_Photo_Btns {
    border-radius: 0.6vw;

    width: 80%;
    height: 10%;

    margin: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #023c1f;
}

.RightInfoBlock_Photo_Btns {
    cursor: pointer;
}

/*Класс тела со всем*/
.BodyBack {
    background-color: #3F4649;
}

/*Класс самого внешнего блока*/
.MainOuterBloсk {
    margin: 20px;

    height: 50vw;

    display: flex;
    flex-direction: column;
}

/*Классы верхнего меню*/
.UpperMenu {
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.LeftMenuElement {
    border-top-left-radius: 0.6vw; 
    border-bottom-left-radius: 0.6vw;
}

.RightMenuElement {
    border-top-right-radius: 0.6vw; 
    border-bottom-right-radius: 0.6vw;
}

.RightMenuElement:hover {
    cursor: pointer;
}

.MenuElement {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;

    background-color: #2D2F31;

    width: 10%;
    height: 4vw;

    margin-left: 1px;
    margin-right: 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.MenuElement_BackGreen {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;

    background-color: #23A86D;

    width: 10%;
    height: 4vw;

    margin-left: 1px;
    margin-right: 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
.MenuElement:hover {
    background-color: #23A86D;
    cursor: pointer;
}







.MainMainInnerBlock {
    margin: 5px;

    min-width: 90%;
    max-width: 100%;

    display: flex;
    flex-direction: row;

    height: 90%;
}

.MainMainInnerBlock_MainDiv {
    background-color: #1A7E52;

    margin: 5px;

    width: 100%;
    min-height: 90%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.MainMainInnerBlock_MainDiv_Cell {
    border-radius: 0.6vw;
    background-color: #3F4649;

    line-height: 1.1vw;

    width: 95%;

    overflow: auto;
}

.MainMainInnerBlock_MainDiv_Cell::-webkit-scrollbar {
    width: 20px;
    background-color: #3F4649;
    border-bottom-right-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}

.MainMainInnerBlock_MainDiv_Cell::-webkit-scrollbar-thumb {
    background-color: #353738;
    border-bottom-right-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}

.MainMainInnerBlock_MainDiv_Cell::-webkit-scrollbar-thumb:hover {
    background-color: #2c2d2e;
}

.MainMainInnerBlock_MainDiv_Cell_Topic {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;


    display: flex;
    align-items: center;
    justify-content: center;
}

.MainMainInnerBlock_MainDiv_Cell_SecondTopic {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
}

.MainMainInnerBlock_MainDiv_Cell_Text {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}







/*Классы окна студента/преподавателя*/
.StudentMainInnerBlock {
    margin: 5px;

    min-width: 90%;
    max-width: 100%;

    display: none;
    flex-direction: row;

    height: 90%;
}

.LeftListBlock {
    margin: 5px;

    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.LeftListBlock_AddPersonBTN {

    width: 95%; 
    height: 10%; 

    background-color: #23A86D; 

    display: flex; 
    align-items: center; 
    justify-content: center; 

    overflow: hidden;

    color: #023C1F; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 1.2vw;
}

.LeftListBlock_AddPersonBTN:hover {
    cursor: pointer;
}

.LeftListBlock_PersonsList {

    width: 95%;

    display: flex;
    flex-direction: column;

    overflow: auto;
}

.LeftListBlock_PersonsList::-webkit-scrollbar {
    width: 20px;
    background-color: #3F4649;
}

.LeftListBlock_PersonsList::-webkit-scrollbar-thumb {
    background-color: #353738;
}

.LeftListBlock_PersonsList::-webkit-scrollbar-thumb:hover {
    background-color: #2c2d2e;
}

.LeftListBlock_PersonCell {

    background-color: #2D2F31;

    color: #B6D149;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;

    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;

    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 4%;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.LeftListBlock_PersonCell_InfoImg {
    width: 40px;
    height: 40px;

    margin-left: 10px;
    margin-right: 10px;

    display: none;
}

.LeftListBlock_PersonSearch {

    background-color:#1A7E52;

    width: 95%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.LeftListBlock_PersonSearch_TextField {
    width: 90%;
    height: 60%;

    border: none;
    background-color: #A8D6BF;

    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
}

.LeftListBlock_PersonSearch_TextField:focus {
    outline: none;
}

.LeftListBlock_PersonCell:hover {
    background-color: #2B473D;
    cursor: pointer;
}

.RightInfoBlock {
    margin: 5px;

    background-color: #1A7E52;

    width: 80%;

    display: flex;
    flex-direction: row;
}

.RightInfoBlock_MainInfo {
    margin-right: 2px;

    width: 65%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.RightInfoBlock_MainInfo_Cell {
    border-radius: 0.6vw;

    min-width: 95%;
    max-width: 95%;

    background-color: #3F4649;
    overflow: auto;
}

.RightInfoBlock_MainInfo_Cell::-webkit-scrollbar {
    width: 20px;
    background-color: #3F4649;
    border-bottom-right-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}

.RightInfoBlock_MainInfo_Cell::-webkit-scrollbar-thumb {
    background-color: #353738;
    border-bottom-right-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}

.RightInfoBlock_MainInfo_Cell::-webkit-scrollbar-thumb:hover {
    background-color: #2c2d2e;
}

.RightInfoBlock_MainInfo_Table {
    border-spacing: 2px 8px;
}

.RightInfoBlock_MainInfo_TableTopic {

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;

    display: flex;
    flex-direction: row;

    white-space: nowrap;
}

.RightInfoBlock_MainInfo_TableText {

    color: #B6D149;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
}

.RightInfoBlock_MainInfo_Btns {
    border-radius: 0.6vw;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 80%;

    color: #023C1F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;

    background-color: #23A86D;

    overflow: hidden;
}

.RightInfoBlock_MainInfo_Btns:hover {
    cursor: pointer;
}

.RightInfoBlock_Photo {
    margin-left: 2px;

    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RightInfoBlock_Photo_Text {

    margin-top: 8px;
    margin-bottom: 8px;

    width: 95%;
    height: 8%;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8vw;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.RightInfoBlock_Photo_Photo {
    border-radius: 0.6vw;
    background-color: #99C26A;

    position: relative;
    height: 0;
    padding-bottom: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.RightInfoBlock_Photo_Photo_Icon {
    /* width: 5vw; */
    /* height: 5vw; */
    max-width: 90%;
    max-height: 90%;

    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.RightInfoBlock_Photo_PhotoWrapper {
    width: 95%;
}

.RightInfoBlock_Photo_Btns {
    border-radius: 0.6vw;

    margin-top: 8px;
    margin-bottom: 8px;

    width: 80%;
    height: 8%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #023c1f;
    font-size: 1.1vw;

    overflow: hidden;
}

.RightInfoBlock_Photo_Btns {
    cursor: pointer;
}




.PersonEditInfo_Window {
    background-color: rgba(0, 0, 0, 0.75);

    height: inherit;
    width: calc(100% - 56px);
    position: absolute;

    display: none;
    align-items: center;
    justify-content: center;
}

.PersonEditInfo_Window_EditWindow {
    background-color: #1A7E52;
    border-radius: 0.6vw;

    height: 90%;
    width: 50%;

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.PersonEditInfo_Window_EditWindow_Cell {
    border-radius: 0.6vw;
    background-color: #3F4649;
    
    width: 100%;
    height: 100%;

    overflow: auto;
}

.PersonEditInfo_Window_EditWindow_Cell::-webkit-scrollbar {
    width: 20px;
    background-color: #3F4649;
    border-bottom-right-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}

.PersonEditInfo_Window_EditWindow_Cell::-webkit-scrollbar-thumb {
    background-color: #353738;
    border-bottom-right-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}

.PersonEditInfo_Window_EditWindow_Cell::-webkit-scrollbar-thumb:hover {
    background-color: #2c2d2e;
}

.PersonEditInfo_Window_EditWindow_UpperDiv {
    display: flex;
    align-items: center;
    justify-content: end;

    height: 7%;
    width: 95%;
}

.PersonEditInfo_Window_EditWindow_DownDiv {
    height: 90%;
    width: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    overflow: auto;
}

.PersonEditInfo_Window_EditWindow_UpperDiv_Img {
    height: 100%;
}

.PersonEditInfo_Window_EditWindow_UpperDiv_Img:hover {
    cursor: pointer;
}

.PersonEditInfo_Window_EditWindow_Table {
    width: 100%;
    table-layout: fixed;

    margin-top: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;

    border-spacing: 2px 8px;
}

.PersonEditInfo_Window_EditWindow_TableCell {
    border: 1px solid #303436;

    color: #B6D149;
    width: 75%;
}

.PersonEditInfo_Window_EditWindow_SaveBTN {
    background-color: #23A86D;

    border-radius: 0.6vw;

    width: 50%;
    height: 75%;

    margin: 5px;

    color: #023c1f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.PersonEditInfo_Window_EditWindow_SaveBTN:hover {
    cursor: pointer;
}












/*Классы окна групп/предметов*/
.GroupsMainInnerBlock {
    margin: 5px;

    min-width: 90%;
    max-width: 100%;

    display: none;
    flex-direction: row;

    height: 90%;
}

.Groups_Left_SearchAndEdit {

    margin: 5px;

    width: 20%;
    min-height: 90%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Groups_Left_SearchAndEdit_Btns {
    border-radius: 0.6vw;

    background-color: #FCB43F;

    width: 80%;
    height: 8%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #023c1f;
    font-size: 1vw;
    text-align: center;

    overflow: hidden;
}

.Groups_Left_SearchAndEdit_Btns {
    cursor: pointer;
}






.Groups_Middle_GroupList {

    margin: 5px;

    width: 20%;
    min-height: 90%;
    max-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Groups_Middle_GroupList_List {

    width: 95%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow: auto;
}

.Groups_Middle_GroupList_List::-webkit-scrollbar {
    width: 20px;
    background-color: #3F4649;
}

.Groups_Middle_GroupList_List::-webkit-scrollbar-thumb {
    background-color: #353738;
}

.Groups_Middle_GroupList_List::-webkit-scrollbar-thumb:hover {
    background-color: #2c2d2e;
}

.Groups_Middle_GroupList_Cell {

    background-color: #2D2F31;

    color: #B6D149;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;

    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;

    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 4%;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.Groups_Middle_GroupList_Cell:hover {
    background-color: #2B473D;
    cursor: pointer;
}













.Groups_Right_MainInfo {

    background-color: #1A7E52;

    margin: 5px;

    width: 60%;
    min-height: 90%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Groups_Right_MainInfo_UpperBlock {
    border-radius: 0.6vw;

    background-color: #3F4649;

    width: 90%;
    height: 7%; 
    display: flex; 
    align-items: center;

    overflow: auto;
}

.Groups_Right_MainInfo_UpperBlock::-webkit-scrollbar {
    width: 20px;
    background-color: #3F4649;
    border-bottom-right-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}

.Groups_Right_MainInfo_UpperBlock::-webkit-scrollbar-thumb {
    background-color: #353738;
    border-bottom-right-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}

.Groups_Right_MainInfo_UpperBlock::-webkit-scrollbar-thumb:hover {
    background-color: #2c2d2e;
}

.Groups_Right_MainInfo_DownBlock {
    width: 90%;
    height: 88%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Groups_Right_MainInfo_DownBlock_RightCell {

    width: 49%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Groups_Right_MainInfo_DownBlock_RightCell_Up {
    border-radius: 0.6vw;

    background-color: #3F4649;
    height: 85%;
}

.Groups_Right_MainInfo_DownBlock_RightCell_Down {
    border-radius: 0.6vw;

    background-color: #3F4649;
    height: 13%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Groups_Right_MainInfo_DownBlock_RightCell_Down_EditScheduleBTN {
    border-radius: 0.6vw;

    font-size: 1.1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #023c1f;

    background-color: #23A86D;
    height: 80%;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Groups_Right_MainInfo_DownBlock_RightCell_Down_EditScheduleBTN:hover {
    cursor: pointer;
}

.Groups_Right_MainInfo_DownBlock_LeftCell {
    border-radius: 0.6vw;

    background-color: #3F4649;

    width: 49%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    overflow: auto;
}

.Groups_Right_MainInfo_DownBlock_LeftCell_Topic {

    height: 8%;
    width: 95%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 1.5vw;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.Groups_Right_MainInfo_DownBlock_LeftCell_List {

    height: 88%;
    width: 95%;

    display: flex;
    flex-direction: column;

    overflow: auto;
}

.Groups_Right_MainInfo_DownBlock_LeftCell_List::-webkit-scrollbar {
    width: 20px;
    background-color: #3F4649;
}

.Groups_Right_MainInfo_DownBlock_LeftCell_List::-webkit-scrollbar-thumb {
    background-color: #353738;
}

.Groups_Right_MainInfo_DownBlock_LeftCell_List::-webkit-scrollbar-thumb:hover {
    background-color: #2c2d2e;
}

.Groups_Right_MainInfo_DownBlock_LeftCell_ListCell {

    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;

    background-color: #2D2F31;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
    color: #B6D149;

    display: flex;
    align-items: center;
}

.Groups_Right_MainInfo_Cell::-webkit-scrollbar {
    width: 20px;
    background-color: #3F4649;
    border-bottom-right-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}

.Groups_Right_MainInfo_Cell::-webkit-scrollbar-thumb {
    background-color: #353738;
    border-bottom-right-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}

.Groups_Right_MainInfo_Cell::-webkit-scrollbar-thumb:hover {
    background-color: #2c2d2e;
}

.Groups_Right_MainInfo_BottomCell {
    border-radius: 0.6vw;

    background-color: #3F4649;

    width: 90%;
    height: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.Groups_Right_MainInfo_BTNs {

    background-color: #22A76C;

    width: 85%;
    height: 45%;

    color: #023c1f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Groups_Right_MainInfo_BTNs:hover {
    cursor: pointer;
}






















.TeacherMainInnerBlock {
    margin: 5px;

    min-width: 90%;
    max-width: 100%;

    display: none;
    flex-direction: row;

    height: 90%;
}











.SubjectMainInnerBlock {
    margin: 5px;

    min-width: 90%;
    max-width: 100%;

    display: none;
    flex-direction: row;

    height: 90%;
}












/*Классы окна расписания*/
.ScheduleMainInnerBlock {
    margin: 5px;

    min-width: 90%;
    max-width: 100%;

    display: none;
    flex-direction: row;

    height: 90%;
}

.Schedule_LeftMenu {

    margin: 5px;

    width: 20%;
    min-height: 90%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Schedule_LeftMenu_Choice {

    background-color: #1A7E52;

    width: 95%;
    height: 30%;

    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Schedule_LeftMenu_Choice_Cell {
    border-radius: 0.6vw;

    background-color: #23A86D;

    width: 95%;
    height: 30%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Schedule_LeftMenu_Choice_Cell_Text {
    color: #023C1F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
}

.CustomRadio {
    background-color: #A8D6BF;

    position: relative;
    height: 1.6vw;
    width: 1.6vw;

    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.CustomRadio:hover {
    cursor: pointer;
}

.CustomRadioChecked {
    background-color: #38443e;

    height: 100%;
    width: 100%;

    display: none;
}

.Schedule_RightInfo {

    background-color: #22A86C;

    margin: 5px;

    width: 80%;
    min-height: 90%;
    max-height: 100%;

    display: flex;
    flex-direction: row;

    overflow: auto;
}

.Schedule_RightInfo::-webkit-scrollbar {
    width: 20px;
    background-color: #9FCAB5;
}

.Schedule_RightInfo::-webkit-scrollbar-thumb {
    background-color: #7FA291;
}

.Schedule_RightInfo::-webkit-scrollbar-thumb:hover {
    background-color: #627e70;
}

.Schedule_RightInfo_Table {
    border-spacing: 0px;
    white-space: nowrap;

    border: 1px solid black;
    border-collapse: collapse;
}

.Schedule_RightInfo_TableTopic {
    background-color: #1A7E52;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3vw;
    font-weight: bold;

    text-align: center;
}

.Schedule_RightInfo_TableSecondTopic {
    background-color: #A8D6BF;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
    font-weight: bold;

    text-align: center;
}

.Schedule_RightInfo_TableNeChetRow {
    background-color: #A8D6BF;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;

    text-align: center;
}

.Schedule_RightInfo_TableChetRow {
    background-color: #8CB3A0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;

    text-align: center;
}












.loadScreen {
    background-color: rgba(0, 0, 0, 0.75);

    height: inherit;
    width: calc(100% - 56px);
    position: absolute;

    display: none;
    align-items: center;
    justify-content: center;
}

.loadScreen_outerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #1A7E52;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    font-weight: bold;
}

.loadScreen_outerDiv_Img {
    width: 25vw;
}

















































.edit-box {
    width: 50%;
    height: 90%;
    border-radius: 0.6vw;
    padding: 5px 10px;

    background-color: rgb(26, 126, 82);
}

.edit-menu {
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    background: rgb(63, 70, 73);
    border: none;
    padding: 5px;
    border-radius: 0.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-btn img {
    height: 42px;
}

.main-box {
    height: calc(87% - 15px);
    margin-top: 10px;
}

.main-box-edit {
    height: calc(85% - 15px);
    padding: 5px;
    background: rgb(63, 70, 73);
    border-radius: 0.6vw;
}

.choose-day {
    height: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.choose-day-buttons {
    margin-top: 10px;
}

.choose-day-btn {
    border: none;
    background-color: rgb(35, 168, 109);
    color: rgb(2, 60, 31);
    font-size: 1.3vw;
    border-radius: 0.6vw;
    padding: 5px 20px;
    margin-top: 5px;
    cursor: pointer;
}

.choose-day-btn.active {
    background-color: rgb(46, 215, 139);
    color: rgb(2, 60, 31);
}

.choose-day-btn:hover {
    background-color: rgb(46, 215, 139);
    color: rgb(2, 60, 31);
}

.choose-day-timetable {
    margin-top: 10px;
    overflow: auto;
}

.choose-day-timetable::-webkit-scrollbar {
    width: 20px;
    background-color: #3F4649;
}

.choose-day-timetable::-webkit-scrollbar-thumb {
    background-color: #353738;
}

.choose-day-timetable::-webkit-scrollbar-thumb:hover {
    background-color: #2c2d2e;
}

.timetable-pair {
    width: 100%;
    background: rgb(45, 50, 52);
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 0.6vw;
}

.timetable-pair input, .timetable-pair select {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
    color: #B6D149;
    border: 2px solid #232526;
    background: transparent;
}

.timetable-pair select option {
    background: rgb(63, 70, 73);
    color: #B6D149;
}

.remove-pair {
    background-color: rgb(35, 168, 109);
    color: rgb(2, 60, 31);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
    border-radius: 0.6vw;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.choose-day-timetable-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-timetable-pair {
    background-color: rgb(35, 168, 109);
    color: rgb(2, 60, 31);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
    border-radius: 0.6vw;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.main-box-buttons {
    height: 15%;
    background: rgb(63, 70, 73);
    margin-top: 10px;
    border-radius: 0.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box-save {
    background-color: rgb(35, 168, 109);
    color: rgb(2, 60, 31);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6vw;
    border-radius: 0.6vw;
    margin: 10px;
    padding: 5px 20px;
    cursor: pointer;
}